@model Model.Categorias

@{
    ViewBag.Title = "Edit";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)
    <div class="c-modal__dialog modal-dialog" role="document">
        <div class="c-modal__content">
            <div class="c-modal__header u-bg-primary">
                <h3 class="c-modal__title">Categorias</h3>
                <span class="c-modal__close" data-dismiss="modal" aria-label="Close">
                    <i class="fa fa-close"></i>
                </span>
            </div>
            <div class="c-modal__body">
                <form method="post" action="~/Preguntas/Edit">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="c-field u-mb-small">
                                @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "c-field__label" })
                                @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "c-input" } })
                                @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="c-field u-mb-small">
                                <label class="c-field__label" for="Profesion">Fecha</label>
                                <div class="c-field has-addon-left">
                                    <span class="c-field__addon"><i class="fa fa-calendar"></i></span>
                                    <label class="c-field__label u-hidden-visually" for="Fecha">Disabled Input</label>
                                    <input class="c-input" data-toggle="datepicker" id="Fecha" type="text" name="Fecha" placeholder="Focus to open caleendar">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="c-field u-mb-small col-12">
                            <label class="c-field__label" for="Estado">Estado</label>
                            <select name="Estado" class="c-input" id="Estado">
                                <option value="Activo">Activo</option>
                                <option value="Inactivo" selected>Inactivo</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="c-field u-mb-small col-12">
                            <label class="c-field__label" for="EstadoFinal">Encuesta</label>
                            @Html.DropDownList("IdArea", null, htmlAttributes: new { @class = "c-field u-mb-small col-12 c-field__label c-input" })
                            @Html.ValidationMessageFor(model => model.IdArea, "", new { @class = "text-danger" })

                        </div>
                    </div>

                    <div class="u-text-center">
                        @Html.ActionLink("Regresar", "Index", new { }, new { @class = "c-btn c-btn--success" })
                        <button class="c-btn c-btn--info" type="submit">
                            Guardar
                            <img src="~/Content/img/load.gif" class="loadingAjax" style="display:none" />
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

}
@section scripts
{
    <script type="text/javascript">


        $(document).ready(function () {

            document.getElementById('Estado').value = "@Model.Estado";
            document.getElementById('IdArea').value = "@Model.IdArea";
            document.getElementById('Fecha').value="@Model.Fecha";

        });



    </script>

    @if (HttpContext.Current.Session["TipoUsuario"].Equals("Coordinador"))
    {
        <script type="text/javascript">
            var elemento = document.getElementsByClassName("c-sidebar__link");
            elemento[0].classList.remove("is-active");
            elemento[2].className += " is-active";
        </script>

    }

}