@model PagedList.IPagedList<Model.Categorias>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
}

<table class="c-table c-table--highlight u-mb-small">
    <caption class="c-table__title">
        <div class="row">
            <div class="col-md-6">
                Categorias <small>20</small>
                @Html.ActionLink("Agregar", "Create", new { }, new { @class = "c-btn c-btn--info " })
            </div>
            <div class="col-md-6">
                <div class="c-field has-addon-right">
                    <input class="c-input" id="txtBuscar" type="text" placeholder="Buscar..." value="@ViewBag.Buscar">
                    <button id="btnBuscar" type="button" class="c-btn c-btn--info c-field__addon">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
        </div>

    </caption>
    <thead class="c-table__head c-table__head--slim">
        <tr>
            <th class="c-table__cell c-table__cell--head">
                @Html.DisplayNameFor(model => model.FirstOrDefault().Nombre)
            </th>
            <th class="c-table__cell c-table__cell--head">
                @Html.DisplayNameFor(model => model.FirstOrDefault().Estado)
            </th>
            <th class="c-table__cell c-table__cell--head">
                Area
            </th>
            <th class="c-table__cell c-table__cell--head">
                @Html.DisplayNameFor(model => model.FirstOrDefault().Fecha)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="CategoriasBuscadas">
        @foreach (var item in Model)
        {
            <tr class="c-table__row">
                <td class="c-table__cell">
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td class="c-table__cell">
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
                <td class="c-table__cell">
                    @Html.DisplayFor(modelItem => item.Areas.Nombre)
                </td>
                <td class="c-table__cell">
                    @Html.DisplayFor(modelItem => item.Fecha)
                </td>
                <td>
                    @Html.ActionLink(" Edit", "Edit", new { id = item.Id }, new { @class = "fa fa-pencil-square-o u-mr-xsmall c-btn c-btn--success " })
                    @Html.ActionLink(" Delete", "Delete", new { id = item.Id }, new { @class = "fa fa-trash-o u-mr-xsmall c-btn c-btn--danger" })
                </td>
            </tr>
        }
    </tbody>

</table>
<script>
    var elemento = document.getElementsByClassName("c-sidebar__link");
    elemento[0].classList.remove("is-active");
    elemento[2].className += " is-active";

</script>
<div class="dataTables_info" id="datatable_info" role="status" aria-live="polite">
    Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount
</div>
<div class="dataTables_paginate paging_simple_numbers" id="datatable_paginate">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sort = ViewBag.CurrentSort, search = ViewBag.Buscar }))
</div>


<div class="c-modal c-modal--large modal fade ocultarDespues2" id="modal32" tabindex="-1" role="dialog" aria-labelledby="modal32" data-backdrop="static">
    <div class="c-modal__dialog modal-dialog" role="document">
        <div class="c-modal__content">
            <div class="c-modal__header u-bg-primary">
                <h3 class="c-modal__title">Editar Perfil</h3>
                <span class="c-modal__close" data-dismiss="modal" aria-label="Close">
                    <i class="fa fa-close"></i>
                </span>
            </div>
            <div class="c-modal__body">
                <form class="c-card__body formAjax2" method="post" action="~/Users/Add">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="c-field u-mb-small">
                                <label class="c-field__label" for="Dni">Dni</label>
                                <input class="c-input" type="text" id="DniUsu" required="required" name="Dni" placeholder="Dni">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="c-field u-mb-small">
                                <label class="c-field__label" for="Nombres">Nombres</label>
                                <input class="c-input" type="text" id="NombresUsu" required="required" name="Nombres" placeholder="Nombres">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="c-field u-mb-small">
                                <label class="c-field__label" for="Apaterno">Apellido Paterno</label>
                                <input class="c-input" type="text" id="ApellidoPaterno" required="required" name="ApellidoPaterno" placeholder="ApellidoPaterno">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="c-field u-mb-small">
                                <label class="c-field__label" for="ApellidoMaterno">Apellido Materno</label>
                                <input class="c-input" type="text" id="ApellidoMaterno" required="required" name="ApellidoMaterno" placeholder="ApellidoMaterno">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="c-field u-mb-small col-4">
                            <label class="c-field__label" for="Direccion">Direccion</label>
                            <input class="c-input" type="text" id="DireccionUsu" required="required" name="Direccion" placeholder="Direccion">
                        </div>
                        <div class="c-field u-mb-small col-4">
                            <label class="c-field__label" for="NombreUsuario">Nombre Usuario</label>
                            <input class="c-input" type="text" id="NombreUsuario" required="required" name="NombreUsuario" placeholder="Usuario">
                        </div>
                        <div class="c-field u-mb-small col-4">
                            <label class="c-field__label" for="TipoUsuario">Tipo de Usuario</label>
                            <select name="TipoUsuario" class="c-input" id="TipoUsu">
                                <!-- Opciones de la lista -->
                                <option value="Coordinador">Coordinador</option>
                                <option value="Encuestado" selected>Encuestado</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="c-field u-mb-small col-6">
                            <label class="c-field__label" for="Edad">Edad</label>
                            <input class="c-input" type="text" id="EdadUsu" required="required" name="Edad" placeholder="Edad">
                        </div>
                        <div class="c-field u-mb-small col-6">
                            <label class="c-field__label" for="Sexo">Sexo</label>
                            <select name="Sexo" class="c-input" id="SexoUsu">
                                <!-- Opciones de la lista -->
                                <option value="Masculino">Masculino</option>
                                <option value="Femenino" selected>Femenino</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">

                        <div class="c-field u-mb-small col-6">
                            <label class="c-field__label" for="Correo">Correo electrónico</label>
                            <input class="c-input" type="text" id="CorreoUsu" required="required" name="Correo" placeholder="clark@dashboard.com">
                        </div>
                        <div class="c-field u-mb-small col-6">
                            <label class="c-field__label" for="telefono">Telefono</label>
                            <input class="c-input" type="text" id="Telefono" required="required" name="Telefono" placeholder="Telefono">
                        </div>
                    </div>
                    <div class="row">
                        <div class="c-field u-mb-small col-6">
                            <label class="c-field__label" for="input2">Contraseña</label>
                            <input class="c-input" type="password" id="ContraseñaUsu" required="required" name="Contraseña" placeholder="*****">
                        </div>
                        <div class="c-field u-mb-small col-6">
                            <label class="c-field__label" for="input2">Repetir Contraseña</label>
                            <input class="c-input" type="password" id="re-ContraseñaUsu" required="required" EqualTo="#ContraseñaUsu" placeholder="*****">
                        </div>
                        <input type="hidden" name="Id" id="IdUsu" />
                    </div>
                    <div class="u-text-right">
                        <button class="c-btn c-btn--info c-btn btnAjax2" type="submit">
                            Guardar
                            <img src="~/Content/img/load.gif" class="loadingAjax2" style="display:none" />
                        </button>
                    </div>
                </form>

            </div>
        </div><!-- // .c-modal__content -->
    </div><!-- // .c-modal__dialog -->
</div>

@section scripts
{
    <script>

        function buscarCategoria(consulta)
        {
        $.ajax({
            url: "@Url.Action("BuscarCategorias", "Categorias")",
            type: 'POST',
            dataType:'html',
            data:{consulta:consulta},
        })
        .done(function(respuesta){
        $("#CategoriasBuscadas").html(respuesta);
        })
        .fail(function(){
        console.log("error");
        })
        }

        $(document).on('keyup', "#txtBuscar", function () {
            //cargaTabla(permiteOrdenar, $("#txtBuscar").val());
            var valor = $("#txtBuscar").val();
                if (valor != "") {
                    buscarCategoria(valor);
                }
                else {
                    buscarCategoria();
                }
         });

    </script>

}