@model Model.Preguntas

@{
    ViewBag.Title = "Delete";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)
    <div class="c-modal__dialog modal-dialog" role="document">
        <div class="c-modal__content">
            <div class="c-modal__header u-bg-primary">
                <h3 class="c-modal__title">Eliminar Encuesta</h3>
                <span class="c-modal__close" data-dismiss="modal" aria-label="Close">
                    <i class="fa fa-close"></i>
                </span>
            </div>
            <div class="c-modal__body">
                <form class="c-card__body formAjax" method="post" action="~/Preguntas/Delete">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="c-field u-mb-small">
                                @Html.DisplayNameFor(model => model.Descripcion)
                                @Html.DisplayFor(model => model.Descripcion)
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="c-field u-mb-small">

                            </div>
                        </div>
                    </div>

                    <div class="u-text-left">

                    </div>

                    <div class="u-text-center">
                        @Html.ActionLink("Regresar", "Index", new { d = Model.IdEncuesta }, new { @class = "c-btn c-btn--success" })
                        <button class="fa fa-trash-o u-mr-xsmall c-btn c-btn--danger" type="submit">
                            Eliminar
                            <img src="~/Content/img/load.gif" class="loadingAjax" style="display:none" />
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
}