@model IEnumerable<Model.Preguntas>

@{
    ViewBag.Title = "Index";
    int? Id = ViewBag.Identificador;

}

<table class="c-table c-table--highlight u-mb-small">
    <caption class="c-table__title">
        <div class="row">
            <div class="col-md-6">
                Preguntas <small>20</small>
                @Html.ActionLink("Agregar", "Create", new { id = Id }, new { @class = "c-btn c-btn--info " })
            </div>
            <div class="col-md-6">
                <div class="c-field has-addon-right">
                    <input class="c-input" id="txtBuscar" type="text" placeholder="Buscar..." value="@ViewBag.Buscar">
                    <button id="btnBuscar" type="button" class="c-btn c-btn--info c-field__addon">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
        </div>

    </caption>
    <thead class="c-table__head c-table__head--slim">
        <tr>
            <th class="c-table__cell c-table__cell--head">
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th class="c-table__cell c-table__cell--head">
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th class="c-table__cell c-table__cell--head">
                @Html.DisplayNameFor(model => model.Encuestas.Titulo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="c-table__row">
                <td class="c-table__cell">
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td class="c-table__cell">
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
                <td class="c-table__cell">
                    @Html.DisplayFor(modelItem => item.Encuestas.Titulo)
                </td>
                <td>
                    @Html.ActionLink(" Edit", "Edit", new { id = item.Id }, new { @class = "fa fa-pencil-square-o u-mr-xsmall c-btn c-btn--success " })
                    @Html.ActionLink(" Delete", "Delete", new { id = item.Id }, new { @class = "fa fa-trash-o u-mr-xsmall c-btn c-btn--danger" })
                    @Html.ActionLink(" Respuestas", "Respuestas", new { id = item.Id }, new { @class = "fa fa-trash-o u-mr-xsmall c-btn c-btn--warninng" })
                </td>
            </tr>
        }
    </tbody>

</table>
<div class="c-modal c-modal--large modal fade show ocultarDespues" id="modal8" tabindex="-1" role="dialog" aria-labelledby="modal8" data-backdrop="static">
    <div class="c-modal__dialog modal-dialog" role="document">
        <div class="c-modal__content">
            <div class="c-modal__header u-bg-primary">
                <h3 class="c-modal__title">Encuestas</h3>
                <span class="c-modal__close" data-dismiss="modal" aria-label="Close">
                    <i class="fa fa-close"></i>
                </span>
            </div>
            <div class="c-modal__body">
                <form class="c-card__body formAjax" method="post" action="~/Preguntas/Create">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="c-field u-mb-small">
                                <label class="c-field__label" for="Titulo">Titulo</label>
                                <input class="c-input" type="text" id="Titulo" required="required" name="Titulo" placeholder="Titulo">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="c-field u-mb-small col-12">
                            <label class="c-field__label" for="Descripcion">Descripcion</label>
                            <input class="c-input" type="text" id="Descripcion" required="required" name="Descripcion" placeholder="Descripcion">
                        </div>
                    </div>
                    <div class="row">
                        <div class="c-field u-mb-small col-12">
                            <label class="c-field__label" for="Estado">Estado</label>
                            <select name="Estado" class="c-input" id="Estado<">
                                <!-- Opciones de la lista -->
                                <option value="Activo">Activo</option>
                                <option value="Inactivo" selected>Inactivo</option>
                            </select>
                        </div>
                        <input type="hidden" name="IdEncuesta" id="IdEncuesta2" value="@Id" />
                    </div>

                    <div class="u-text-right">
                        <button class="c-btn c-btn--info c-btn btnAjax" type="submit">
                            Guardar
                            <img src="~/Content/img/load.gif" class="loadingAjax" style="display:none" />
                        </button>
                    </div>
                </form>

            </div>
        </div><!-- // .c-modal__content -->
    </div><!-- // .c-modal__dialog -->
</div>

@if (HttpContext.Current.Session["TipoUsuario"].Equals("Coordinador"))
{
    <script type="text/javascript">
            var elemento = document.getElementsByClassName("c-sidebar__link");
            elemento[0].classList.remove("is-active");
            elemento[3].className += " is-active";
    </script>

}