@model Model.Resultados

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Resultados</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Hora_Inicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hora_Inicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hora_Final)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hora_Final)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuarios.TipoUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuarios.TipoUsuario)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
