@using Model;

@{

    ViewBag.Title = "GenerarEncuesta";
    SystemEncuestas db = new SystemEncuestas();
    List<Preguntas> preguntas = ViewBag.preguntas;
    List<int> RespuestaSeleccionada = ViewBag.respuestas;

    string fecha = "", horaInicio = "", IdUsuario = "";
    //moment().format('LTS');
    if (HttpContext.Current.Session["TipoUsuario"] == null)
    {
        Response.Redirect("~/Acceso/Login");
    }
    else
    {
        IdUsuario = HttpContext.Current.Session["Usuario_Id"].ToString();
        fecha = DateTime.Now.ToString("dd/MM/yyyy");
        horaInicio = DateTime.Now.ToString("dd/MM/yyyy");
        //horaInicio = DateTime.Now.ToString("hh:mm:ss tt");
    }

    int? IdEncuesta = ViewBag.idEncuesta;
    string estado= ViewBag.estadoEncuesta;

    int TotalRespuestas = 0;
    int TotalPreguntas = 0;

}
<table class="c-table c-table--highlight u-mb-small">
    <thead class="c-table__head c-table__head--slim">
        <tr>
            <th class="c-table__cell c-table__cell--head text-center">
                Pregunta
            </th>

        </tr>
    </thead>
    <tbody>

        @for (int i = 0; i < preguntas.Count; i++)
        {
            TotalPreguntas++;
            int idpregunta = preguntas[i].Id;
            var respuestas = db.Respuestas.Where(p => p.IdPregunta == idpregunta).ToList();
            <tr class="c-table__row">
                <td class="c-table__cell align-content-center">
                    <p class="u-text-bold" style="font-family:Arial;font-size:14px;"> @(i+1).@preguntas[i].Descripcion</p>
                    @for (int j = 0; j < respuestas.Count; j++)
                    {

                        TotalRespuestas++;
                        <input type="radio" class="u-text-right" name="Respuesta+@i" id="opcion+@respuestas[j].Id" value="@respuestas[j].Descripcion" />
                        @respuestas[j].Descripcion

                    }
                </td>
            </tr>
        }

    </tbody>
</table>

<div class="u-text-right">
    @Html.ActionLink("Regresar", "Index", new { }, new { @class = "c-btn c-btn--success" })
    <input type="button" class="c-btn c-btn--info" value="Procesar" onclick="CapturarDatos(@TotalPreguntas)" id="Proceso" />
</div>



@section Scripts {
    <script type="text/javascript">

        var estadoEncuesta = "@estado";

        if (estadoEncuesta=="Cerrada") {
            document.getElementById("Proceso").disabled = true;
        }

        var myVar = setInterval(myTimer, 1000);
        var horaFinal;

        function myTimer() {
            var d = new Date();
            horaFinal = d.toLocaleTimeString('en-US', { hour: 'numeric', minute: 'numeric', hour12: true, second: 'numeric' });
            //document.getElementById("demo").innerHTML = horaFinal;
        }

        function myStopFunction() {
            clearInterval(myVar);
        }

        function CapturarDatos(m)
        {
            var respuestas = new Array();
            var ContadorRespuestasNoContestadas = 0;
            var numero = Number(m);
            for (var i = 0; i <numero; i++) {
                //var opciones = "opcion+" + inicio.toString();
                var Respuesta = 'input[name="Respuesta+' + i + '"]:checked';
                var seleccion = $(Respuesta).val();
                if (seleccion == null) {
                    alert("Conteste la Pregunta:" + (i + 1));
                    ContadorRespuestasNoContestadas++;
                }
                else {
                    respuestas.push(seleccion);

                }

            }
            if (ContadorRespuestasNoContestadas == 0) {
                    clearInterval(myVar);
                    $.ajax({
                         url: "@Url.Action("Resultados","Encuestas")",
                         type: "POST",
                         dataType: 'json',
                            //crossDomain: true,
                         data: { Respuestas: respuestas, idEncuesta: "@IdEncuesta", idUsuario: "@IdUsuario", hora_Inicio: "@horaInicio", hora_Final: horaFinal, fecha: "@fecha" },
                         success: function (data) {
                                // Si la petición es satisfactoria, se recarga la página actual
                                window.location.href = data;
                          }
                     });

            }
        }
    </script>
    @if (HttpContext.Current.Session["TipoUsuario"].Equals("Coordinador"))
    {
        <script type="text/javascript">
            var elemento = document.getElementsByClassName("c-sidebar__link");
            elemento[0].classList.remove("is-active");
            elemento[3].className += " is-active";
        </script>

    }
    @if (HttpContext.Current.Session["TipoUsuario"].Equals("Encuestado"))
    {
        <script type="text/javascript">
            var elemento = document.getElementsByClassName("c-sidebar__link");
            elemento[0].classList.remove("is-active");
            elemento[1].className += " is-active";
        </script>

    }

}

