@model PagedList.IPagedList<Model.Encuestas>
@using PagedList.Mvc;
@using WebAppSurvey.Helpers;

@{
    ViewBag.Title = "Index";


}
<body id="general">
    <table class="c-table c-table--highlight u-mb-small">

        <caption class="c-table__title">
            <div class="row">
                @if (HttpContext.Current.Session["TipoUsuario"] == null)
                {
                    Response.Redirect("~/Acceso/Login");
                }
                else if (HttpContext.Current.Session["TipoUsuario"].Equals("Coordinador"))
                {
                    <div class="col-md-6">
                        Encuestas<small>20</small>
                        @Html.ActionLink("Agregar", "Create", new { }, new { @class = "c-btn c-btn--info " })
                    </div>
                    <div class="col-md-6">
                        <div class="c-field has-addon-right">
                            <input class="c-input" id="txtBuscar" type="text" placeholder="Buscar..." value="@ViewBag.Buscar">
                            <button id="btnBuscar" type="button" class="c-btn c-btn--info c-field__addon">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                }
                else if (HttpContext.Current.Session["TipoUsuario"].Equals("Encuestado"))
                {
                    <div class="col-md-4">
                        Encuestas<small>20</small>
                    </div>
                    <div class="col-md-8">
                        <div class="c-field has-addon-right">
                            <input class="c-input" id="txtBuscar" type="text" placeholder="Buscar..." value="@ViewBag.Buscar">
                            <button id="btnBuscar" type="button" class="c-btn c-btn--info c-field__addon">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                }

            </div>

        </caption>

        <thead class="c-table__head c-table__head--slim">
            <tr>
                <th class="c-table__cell c-table__cell--head">
                    @Html.DisplayNameFor(model => model.FirstOrDefault().Titulo)
                </th>
                <th class="c-table__cell c-table__cell--head">
                    @Html.DisplayNameFor(model => model.FirstOrDefault().Estado)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody id="EncuestasBuscadas">
            @foreach (var item in Model)
            {
                int id = Convert.ToInt32(HttpContext.Current.Session["Usuario_Id"]);
                VerificarEncuesta verificar = new VerificarEncuesta();
                int resultado = verificar.IDEncuesta(id, item.Id);
                VerificarConfiguracion verificarFecha = new VerificarConfiguracion();
                int fechaverificada=verificarFecha.VerificarFecha(item.Id);
                <tr class="c-table__row" onmousemove="verificarEncuesta(@resultado)">
                    <td class="c-table__cell">
                        @Html.DisplayFor(modelItem => item.Titulo)
                    </td>
                    <td class="c-table__cell" id="id+@item.Id">
                        @Html.DisplayFor(modelItem => item.Estado)
                    </td>
                    <td class="c-table__cell u-text-right" onmousemove="verificarConfiguracion(@fechaverificada,'id+@item.Id')">
                        <div id="opciones">
                            @if (Session["TipoUsuario"].Equals("Coordinador"))
                            {
                                @Html.ActionLink(" Edit", "Edit", new { id = item.Id }, new { @class = "fa fa-pencil-square-o u-mr-xsmall c-btn c-btn--success " })
                                @Html.ActionLink(" Delete", "Delete", new { id = item.Id }, new { @class = "fa fa-trash-o u-mr-xsmall c-btn c-btn--danger" })
                                @Html.ActionLink(" Preguntas", "Preguntas", new { id = item.Id }, new { @class = "fa fa-trash-o u-mr-xsmall c-btn c-btn--warninng" })
                            }
                            <input type="submit" value="Generar" class="fa fa-trash-o u-mr-xsmall c-btn c-btn--warninng" id="@item.Id" onclick="Enviar(@item.Id)" />
                            @Html.ActionLink(" Resultados", "ResultadosFinales", new { id = item.Id }, new { @class = "fa fa-table u-mr-xsmall c-btn c-btn--success " })
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
<div class="dataTables_info" id="datatable_info" role="status" aria-live="polite">
    Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount
</div>
<div class="dataTables_paginate paging_simple_numbers" id="datatable_paginate">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sort = ViewBag.CurrentSort, search = ViewBag.Buscar }))
</div>
<div class="c-modal c-modal--large modal fade show ocultarDespues" id="modal8" tabindex="-1" role="dialog" aria-labelledby="modal8" data-backdrop="static">
    <div class="c-modal__dialog modal-dialog" role="document">
        <div class="c-modal__content">
            <div class="c-modal__header u-bg-primary">
                <h3 class="c-modal__title">Encuestas</h3>
                <span class="c-modal__close" data-dismiss="modal" aria-label="Close">
                    <i class="fa fa-close"></i>
                </span>
            </div>
            <div class="c-modal__body">
                <form class="c-card__body formAjax" method="post" action="~/Encuestas/Create">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="c-field u-mb-small">
                                <label class="c-field__label" for="Titulo">Titulo</label>
                                <input class="c-input" type="text" id="Titulo" required="required" name="Titulo" placeholder="Titulo">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="c-field u-mb-small col-12">
                            <label class="c-field__label" for="Descripcion">Descripcion</label>
                            <input class="c-input" type="text" id="Descripcion" required="required" name="Descripcion" placeholder="Descripcion">
                        </div>
                    </div>
                    <div class="row">
                        <div class="c-field u-mb-small col-12">
                            <label class="c-field__label" for="Estado">Estado</label>
                            <select name="Estado" class="c-input" id="Estado<">
                                <!-- Opciones de la lista -->
                                <option value="Activo">Activo</option>
                                <option value="Inactivo" selected>Inactivo</option>
                            </select>
                        </div>
                    </div>

                    <div class="u-text-right">
                        <button class="c-btn c-btn--info c-btn btnAjax" type="submit">
                            Guardar
                            <img src="~/Content/img/load.gif" class="loadingAjax" style="display:none" />
                        </button>
                    </div>
                </form>

            </div>
        </div><!-- // .c-modal__content -->
    </div><!-- // .c-modal__dialog -->
</div>

<div class="c-modal c-modal--large modal fade ocultarDespues2" id="modal32" tabindex="-1" role="dialog" aria-labelledby="modal32" data-backdrop="static">
    <div class="c-modal__dialog modal-dialog" role="document">
        <div class="c-modal__content">
            <div class="c-modal__header u-bg-primary">
                <h3 class="c-modal__title">Editar Perfil</h3>
                <span class="c-modal__close" data-dismiss="modal" aria-label="Close">
                    <i class="fa fa-close"></i>
                </span>
            </div>
            <div class="c-modal__body">
                <form class="c-card__body formAjax2" method="post" action="~/Users/Add">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="c-field u-mb-small">
                                <label class="c-field__label" for="Dni">Dni</label>
                                <input class="c-input" type="text" id="DniUsu" required="required" name="Dni" placeholder="Dni">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="c-field u-mb-small">
                                <label class="c-field__label" for="Nombres">Nombres</label>
                                <input class="c-input" type="text" id="NombresUsu" required="required" name="Nombres" placeholder="Nombres">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="c-field u-mb-small">
                                <label class="c-field__label" for="Apaterno">Apellido Paterno</label>
                                <input class="c-input" type="text" id="ApellidoPaterno" required="required" name="ApellidoPaterno" placeholder="ApellidoPaterno">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="c-field u-mb-small">
                                <label class="c-field__label" for="ApellidoMaterno">Apellido Materno</label>
                                <input class="c-input" type="text" id="ApellidoMaterno" required="required" name="ApellidoMaterno" placeholder="ApellidoMaterno">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="c-field u-mb-small col-4">
                            <label class="c-field__label" for="Direccion">Direccion</label>
                            <input class="c-input" type="text" id="DireccionUsu" required="required" name="Direccion" placeholder="Direccion">
                        </div>
                        <div class="c-field u-mb-small col-4">
                            <label class="c-field__label" for="NombreUsuario">Nombre Usuario</label>
                            <input class="c-input" type="text" id="NombreUsuario" required="required" name="NombreUsuario" placeholder="Usuario">
                        </div>
                        <div class="c-field u-mb-small col-4">
                            <label class="c-field__label" for="TipoUsuario">Tipo de Usuario</label>
                            <select name="TipoUsuario" class="c-input" id="TipoUsu">
                                <!-- Opciones de la lista -->
                                <option value="Coordinador">Coordinador</option>
                                <option value="Encuestado" selected>Encuestado</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="c-field u-mb-small col-6">
                            <label class="c-field__label" for="Edad">Edad</label>
                            <input class="c-input" type="text" id="EdadUsu" required="required" name="Edad" placeholder="Edad">
                        </div>
                        <div class="c-field u-mb-small col-6">
                            <label class="c-field__label" for="Sexo">Sexo</label>
                            <select name="Sexo" class="c-input" id="SexoUsu">
                                <!-- Opciones de la lista -->
                                <option value="Masculino">Masculino</option>
                                <option value="Femenino" selected>Femenino</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">

                        <div class="c-field u-mb-small col-6">
                            <label class="c-field__label" for="Correo">Correo electrónico</label>
                            <input class="c-input" type="text" id="CorreoUsu" required="required" name="Correo" placeholder="clark@dashboard.com">
                        </div>
                        <div class="c-field u-mb-small col-6">
                            <label class="c-field__label" for="telefono">Telefono</label>
                            <input class="c-input" type="text" id="Telefono" required="required" name="Telefono" placeholder="Telefono">
                        </div>
                    </div>
                    <div class="row">
                        <div class="c-field u-mb-small col-6">
                            <label class="c-field__label" for="input2">Contraseña</label>
                            <input class="c-input" type="password" id="ContraseñaUsu" required="required" name="Contraseña" placeholder="*****">
                        </div>
                        <div class="c-field u-mb-small col-6">
                            <label class="c-field__label" for="input2">Repetir Contraseña</label>
                            <input class="c-input" type="password" id="re-ContraseñaUsu" required="required" EqualTo="#ContraseñaUsu" placeholder="*****">
                        </div>
                        <input type="hidden" name="Id" id="IdUsu" />
                    </div>
                    <div class="u-text-right">
                        <button class="c-btn c-btn--info c-btn btnAjax2" type="submit">
                            Guardar
                            <img src="~/Content/img/load.gif" class="loadingAjax2" style="display:none" />
                        </button>
                    </div>
                </form>
            </div>
        </div><!-- // .c-modal__content -->
    </div><!-- // .c-modal__dialog -->
</div>

@section scripts
{
    <script type="text/javascript">

     function Enviar(a) {
        $.ajax({
            url: "@Url.Action("GenerarEncuesta", "Encuestas")",
            type: 'Get',
            dataType:'html',
            data: { id:a},
            })
                .done(function(respuesta){
            $("#general").html(respuesta);
            })
            .fail(function(){
            console.log("error");
            })

    }


    function verificarEncuesta(b) {

        if (b > 0) {
            var c = b + '';
            document.getElementById(c).disabled = true;
        }
    }

    function verificarConfiguracion(m,n) {

        if (m>0) {
            var c = m + '';
            document.getElementById(c).disabled = true;
            document.getElementById(n).textContent = "Cerrada";
        }
    }


    function buscarEncuesta(consulta){
        $.ajax({
            url: "@Url.Action("BuscarEncuestas", "Encuestas")",
            type: 'POST',
            dataType:'html',
            data:{consulta:consulta},
            })
                .done(function(respuesta){
            $("#EncuestasBuscadas").html(respuesta);
            })
            .fail(function(){
            console.log("error");
            })
     }
    $(document).on('keyup', "#txtBuscar", function () {
        var valor = $("#txtBuscar").val();
         if (valor != "") {
             buscarEncuesta(valor);

          }
          else {
             buscarEncuesta();

        }
    });

    </script>


    @if (HttpContext.Current.Session["TipoUsuario"].Equals("Coordinador"))
    {
        <script type="text/javascript">
            var elemento = document.getElementsByClassName("c-sidebar__link");
            elemento[0].classList.remove("is-active");
            elemento[3].className += " is-active";
        </script>

    }
    @if (HttpContext.Current.Session["TipoUsuario"].Equals("Encuestado"))
    {
        <script type="text/javascript">
            var elemento = document.getElementsByClassName("c-sidebar__link");
            elemento[0].classList.remove("is-active");
            elemento[1].className += " is-active";
        </script>

    }


}


