@using Model;
@using System.Web.Script.Serialization;

@{
    ViewBag.Title = "GenerarEncuesta";
    SystemEncuestas db = new SystemEncuestas();
    List<Preguntas> preguntas = ViewBag.preguntas;
    List<int> RespuestaSeleccionada = ViewBag.respuestas;

    string fecha = "", horaInicio = "", IdUsuario = "";
    //moment().format('LTS');
    if (HttpContext.Current.Session["TipoUsuario"] == null)
    {
        Response.Redirect("~/Acceso/Login");
    }
    else
    {
        IdUsuario = HttpContext.Current.Session["Usuario_Id"].ToString();
        fecha = DateTime.Now.ToString("dd/MM/yyyy");
        horaInicio = DateTime.Now.ToString("dd/MM/yyyy");
        //horaInicio = DateTime.Now.ToString("hh:mm:ss tt");
    }

    int? IdEncuesta = ViewBag.idEncuesta;
    string TituloEncuesta = ViewBag.Titulo;

    int TotalRespuestas = 0;
    int TotalPreguntas = 0;



}

<h2 class="u-text-center">Resultados Finales</h2>
<script src='~/Content/js/utils.js'></script>
<script src='~/Content/js/Chart.min.js'></script>
<script>
    function graficas(contadorPregunta,valores,descripcion,titulos) {
        canvas = document.getElementById(contadorPregunta).getContext("2d");
        //if (window.grafica) {
        //    window.grafica.clear();
        //    window.grafica.destroy();
        //}

        
        var Respuestas = JSON.parse(descripcion.replace(/&quot;/g, '"'));
        var titulosdePreguntas = JSON.parse(titulos.replace(/&quot;/g, '"'));

        //var id = [];
        //for (var i in valores) {
        //    id.push(valores[i]);
        //}

        var valoresResultado = JSON.parse(valores);
        

        window.grafica = new Chart(canvas, {
            type: 'horizontalBar',
            data: {
                labels: Respuestas,
                datasets: [
                    {
                        label: titulosdePreguntas,
                        backgroundColor: ['rgb(255, 198, 142)', 'rgb(255, 255, 0)', 'rgb(200,255, 255)', 'rgb(210,225,155)'],
                        borderColor: window.chartColors.red,
                        data: valoresResultado,
                    },



                ]
            }
        })
    }

</script>

@for (int i = 0; i < preguntas.Count; i++)
{
    TotalPreguntas++;
    int idpregunta = preguntas[i].Id;
    var respuestas = db.Respuestas.Where(p => p.IdPregunta == idpregunta).ToList();
    var contadorPregunta = "Grafica:" + i;
    var descripcionPregunta = "";
    List<string> descripciones = new List<string>();
    List<string> titulos = new List<string>();
    List<int> valores = new List<int>();

    titulos.Add(preguntas[i].Descripcion);

    @*<p class="u-text-bold" style="font-family:Arial;font-size:16px;"> @(i+1).@preguntas[i].Descripcion</p>*@
    <div class="row">
        <div class="col-xl-8">
            <div class="c-card u-p-medium u-mb-medium">
                <div class="u-flex u-justify-between u-align-items-center">
                    <h3 class="c-card__title u-text-center">@TituloEncuesta</h3>
                    <span class="u-text-small u-text-uppercase u-text-mute">@DateTime.Now.Year</span>
                </div>
                <canvas id=@contadorPregunta width="300" height="155"></canvas>
            </div>
        </div>
    </div>
    for (int j = 0; j < respuestas.Count; j++)
    {
        TotalRespuestas++;
        string descripcion = respuestas[j].Descripcion;
        var RespuestasDeUsuarios = db.DetalleResultado.Where(p => p.IdEncuesta == IdEncuesta && p.Valor == descripcion).Count();
        <p style="font-family:Arial;font-size:14px;">@respuestas[j].Descripcion  @RespuestasDeUsuarios</p>
        descripcionPregunta = descripcionPregunta + respuestas[j].Descripcion+",";
        descripciones.Add(respuestas[j].Descripcion);
        valores.Add(RespuestasDeUsuarios);




    }

    JavaScriptSerializer dd = new JavaScriptSerializer();
    string json = dd.Serialize(valores);

    JavaScriptSerializer dd2 = new JavaScriptSerializer();
    string json2 = dd2.Serialize(descripciones);

    JavaScriptSerializer dd3 = new JavaScriptSerializer();
    string json3 = dd3.Serialize(titulos);

<script>
        graficas("@contadorPregunta", "@json","@json2","@json3")
</script>
    <br />


}




@section Scripts {



}

