@using Model;
@using System.Web.Script.Serialization;

@{
    ViewBag.Title = "GenerarEncuesta";
    SystemEncuestas db = new SystemEncuestas();
    List<Preguntas> preguntas = ViewBag.preguntas;
    List<int> RespuestaSeleccionada = ViewBag.respuestas;

    string fecha = "", horaInicio = "", IdUsuario = "";
    //moment().format('LTS');
    if (HttpContext.Current.Session["TipoUsuario"] == null)
    {
        Response.Redirect("~/Acceso/Login");
    }
    else
    {
        IdUsuario = HttpContext.Current.Session["Usuario_Id"].ToString();
        fecha = DateTime.Now.ToString("dd/MM/yyyy");
        horaInicio = DateTime.Now.ToString("dd/MM/yyyy");
        //horaInicio = DateTime.Now.ToString("hh:mm:ss tt");
    }

    int? IdEncuesta = ViewBag.idEncuesta;
    string TituloEncuesta = ViewBag.Titulo;

    int TotalRespuestas = 0;
    int TotalPreguntas = 0;



}

<h2 class="u-text-center">Resultados Finales</h2>
<script src='~/Content/js/utils.js'></script>
<script src='~/Content/js/Chart.min.js'></script>
<script>
    function graficas(contadorPregunta,valores,descripcion,titulos) {
        canvas = document.getElementById(contadorPregunta).getContext("2d");
        //if (window.grafica) {
        //    window.grafica.clear();
        //    window.grafica.destroy();
        //}

        
        var Respuestas = JSON.parse(descripcion.replace(/&quot;/g, '"'));
        var titulosdePreguntas = JSON.parse(titulos.replace(/&quot;/g, '"'));

        //var id = [];
        //for (var i in valores) {
        //    id.push(valores[i]);
        //}

        var valoresResultado = JSON.parse(valores);
        

        window.grafica = new Chart(canvas, {
            type: 'horizontalBar',
            data: {
                labels: Respuestas,
                datasets: [
                    {
                        label: titulosdePreguntas,
                        backgroundColor: ['rgb(255, 198, 142)', 'rgb(255, 255, 0)', 'rgb(200,255, 255)', 'rgb(210,225,155)'],
                        borderColor: window.chartColors.red,
                        data: valoresResultado,
                    },



                ]
            }
        })
    }

</script>

@for (int i = 0; i < preguntas.Count; i++)
{
    TotalPreguntas++;
    int idpregunta = preguntas[i].Id;
    var respuestas = db.Respuestas.Where(p => p.IdPregunta == idpregunta).ToList();
    var contadorPregunta = "Grafica:" + i;
    var descripcionPregunta = "";
    List<string> descripciones = new List<string>();
    List<string> titulos = new List<string>();
    List<int> valores = new List<int>();

    titulos.Add(preguntas[i].Descripcion);

    @*<p class="u-text-bold" style="font-family:Arial;font-size:16px;"> @(i+1).@preguntas[i].Descripcion</p>*@
    <div class="row">
        <div class="col-xl-8">
            <div class="c-card u-p-medium u-mb-medium">
                <div class="u-flex u-justify-between u-align-items-center">
                    <h3 class="c-card__title u-text-center">@TituloEncuesta</h3>
                    <span class="u-text-small u-text-uppercase u-text-mute">@DateTime.Now.Year</span>
                </div>
                <canvas id=@contadorPregunta width="300" height="155"></canvas>
            </div>
        </div>
    </div>
    for (int j = 0; j < respuestas.Count; j++)
    {
        TotalRespuestas++;
        string descripcion = respuestas[j].Descripcion;
        var RespuestasDeUsuarios = db.DetalleResultado.Where(p => p.IdEncuesta == IdEncuesta && p.Valor == descripcion).Count();
        <p style="font-family:Arial;font-size:14px;">@respuestas[j].Descripcion  @RespuestasDeUsuarios</p>
        descripcionPregunta = descripcionPregunta + respuestas[j].Descripcion+",";
        descripciones.Add(respuestas[j].Descripcion);
        valores.Add(RespuestasDeUsuarios);




    }

    JavaScriptSerializer dd = new JavaScriptSerializer();
    string json = dd.Serialize(valores);

    JavaScriptSerializer dd2 = new JavaScriptSerializer();
    string json2 = dd2.Serialize(descripciones);

    JavaScriptSerializer dd3 = new JavaScriptSerializer();
    string json3 = dd3.Serialize(titulos);

<script>
        graficas("@contadorPregunta", "@json","@json2","@json3")
</script>
    <br />


}

<div class="c-modal c-modal--large modal fade ocultarDespues2" id="modal32" tabindex="-1" role="dialog" aria-labelledby="modal32" data-backdrop="static">
    <div class="c-modal__dialog modal-dialog" role="document">
        <div class="c-modal__content">
            <div class="c-modal__header u-bg-primary">
                <h3 class="c-modal__title">Editar Perfil</h3>
                <span class="c-modal__close" data-dismiss="modal" aria-label="Close">
                    <i class="fa fa-close"></i>
                </span>
            </div>
            <div class="c-modal__body">
                <form class="c-card__body formAjax2" method="post" action="~/Users/Add">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="c-field u-mb-small">
                                <label class="c-field__label" for="Dni">Dni</label>
                                <input class="c-input" type="text" id="DniUsu" required="required" name="Dni" placeholder="Dni">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="c-field u-mb-small">
                                <label class="c-field__label" for="Nombres">Nombres</label>
                                <input class="c-input" type="text" id="NombresUsu" required="required" name="Nombres" placeholder="Nombres">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="c-field u-mb-small">
                                <label class="c-field__label" for="Apaterno">Apellido Paterno</label>
                                <input class="c-input" type="text" id="ApellidoPaterno" required="required" name="ApellidoPaterno" placeholder="ApellidoPaterno">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="c-field u-mb-small">
                                <label class="c-field__label" for="ApellidoMaterno">Apellido Materno</label>
                                <input class="c-input" type="text" id="ApellidoMaterno" required="required" name="ApellidoMaterno" placeholder="ApellidoMaterno">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="c-field u-mb-small col-4">
                            <label class="c-field__label" for="Direccion">Direccion</label>
                            <input class="c-input" type="text" id="DireccionUsu" required="required" name="Direccion" placeholder="Direccion">
                        </div>
                        <div class="c-field u-mb-small col-4">
                            <label class="c-field__label" for="NombreUsuario">Nombre Usuario</label>
                            <input class="c-input" type="text" id="NombreUsuario" required="required" name="NombreUsuario" placeholder="Usuario">
                        </div>
                        <div class="c-field u-mb-small col-4">
                            <label class="c-field__label" for="TipoUsuario">Tipo de Usuario</label>
                            <select name="TipoUsuario" class="c-input" id="TipoUsu">
                                <!-- Opciones de la lista -->
                                <option value="Coordinador">Coordinador</option>
                                <option value="Encuestado" selected>Encuestado</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="c-field u-mb-small col-6">
                            <label class="c-field__label" for="Edad">Edad</label>
                            <input class="c-input" type="text" id="EdadUsu" required="required" name="Edad" placeholder="Edad">
                        </div>
                        <div class="c-field u-mb-small col-6">
                            <label class="c-field__label" for="Sexo">Sexo</label>
                            <select name="Sexo" class="c-input" id="SexoUsu">
                                <!-- Opciones de la lista -->
                                <option value="Masculino">Masculino</option>
                                <option value="Femenino" selected>Femenino</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">

                        <div class="c-field u-mb-small col-6">
                            <label class="c-field__label" for="Correo">Correo electrónico</label>
                            <input class="c-input" type="text" id="CorreoUsu" required="required" name="Correo" placeholder="clark@dashboard.com">
                        </div>
                        <div class="c-field u-mb-small col-6">
                            <label class="c-field__label" for="telefono">Telefono</label>
                            <input class="c-input" type="text" id="Telefono" required="required" name="Telefono" placeholder="Telefono">
                        </div>
                    </div>
                    <div class="row">
                        <div class="c-field u-mb-small col-6">
                            <label class="c-field__label" for="input2">Contraseña</label>
                            <input class="c-input" type="password" id="ContraseñaUsu" required="required" name="Contraseña" placeholder="*****">
                        </div>
                        <div class="c-field u-mb-small col-6">
                            <label class="c-field__label" for="input2">Repetir Contraseña</label>
                            <input class="c-input" type="password" id="re-ContraseñaUsu" required="required" EqualTo="#ContraseñaUsu" placeholder="*****">
                        </div>
                        <input type="hidden" name="Id" id="IdUsu" />
                    </div>
                    <div class="u-text-right">
                        <button class="c-btn c-btn--info c-btn btnAjax2" type="submit">
                            Guardar
                            <img src="~/Content/img/load.gif" class="loadingAjax2" style="display:none" />
                        </button>
                    </div>
                </form>

            </div>
        </div><!-- // .c-modal__content -->
    </div><!-- // .c-modal__dialog -->
</div>


@section Scripts {



}

